# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/android
/ios
/__tests__
/.expo/*
/.pnp
.pnp.js


*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
*.bak
*.backup

# testing
/coverage
web-build/
web-report/

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

yarn-debug.*
yarn-error.*
npm-debug.*